@font-face {
    font-family: 'trx-like';
    src: url('../font/Familiar Pro-Bold.otf');
}

*{
    font-family: 'trx-like';
}

body{
    position: relative;
    background: rgb(253, 228, 1);
    overflow: hidden;
}

div.wrapper{
    height: 100vh;
    width: 100vw;

    padding: 0;
    margin: 0;

    border: 10px solid transparent;
    border-left: none;
    border-right: none;

    position: relative;

    z-index: 100;
}
div.wrapper > div.trx-logo{
    position: absolute;
    top: 0;
    left: 10;

    background: black;
    color: white;

    height: 50px;
    width: 55px;

    font-size: 24px;
    line-height: 50px;

    text-align: center;

    z-index: 110;
}

div.border-wrapper{
    position: absolute;
    top: 0;
    left: 0;

    border: 10px solid black;
    border-left: none;
    border-right: none;

    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;

    padding: 0;
    margin: 0;

    overflow: hidden;
}

div.page-container{
    position: relative;
    height: 100%;
    width: 100%;
}

div.TRX-pager{
    position: absolute;
    top: 0;
    left: 0;

    padding: 20px 75px;
    margin: 0;

    height: 100%;
    width: 100%;

    background: rgb(253, 228, 1);

    transition: 1.5s;
    box-shadow: 10px 0px 10px #0000000f;
}

.col-sm{
    padding-left: 0;
    padding-right: 0;
}

.TRX-pager-animation{
    left: -130% !important;
}

#page0{

}

#page1{
    
}

#page2{
    
}

#page2 .input-fields{
    width: 190px;
    max-width: 190px;
    min-width: 190px;
    display: inline-block;
}

#page2 ul .material-switch{
    margin-bottom: -3px;
    margin-top: 4px;
    
}

#page2 ul > li{
    height: 34px;
    padding: 6px;
    padding-left: 10px;
}

#page2 ul > li > span{
    margin-right: 5px;
}
#page2 ul > li > span:nth-child(2){
    margin-top: -5px; 
}

#page3 .Elapsed-timer{
    text-align: left;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#page3 .Remaining-timer{
    text-align: right;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#page3 .timer.circle {
    position: relative;

	width: 60vw;
    height: 60vh;
    max-width: 60vh;
    max-height: 60vw;
    
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid #212529;

    text-align: center;
}

#page3 div.timer.circle > div.inner-timer {
    position: absolute;
    top: 18%;
    left: 0;
    right: 0;
}

#page3 div.image-div{
    /* height: 100px;
    width: 100px; */
    background: black;
    border: 5px solid white;
    box-shadow: 0 0 2px #0000006b;
}

#page3 div.image-div > img{
    height: 60vh;
    max-height: 60vw;
}

#page3 #next-text{
    position: absolute;
    font-size: 6vh;
    top: -4.5vh;
    left: 0;
    right: 0;
    color: white;
    background: transparent;
    text-shadow: 0 0 20px black;
}


body > div.warning-sign{
    background: black;
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 120vh;

    z-index: 1000000;
}
body > div.warning-sign > div{
    margin: 30%;
    font-size: 10vw;
    color: white;
}

@media (orientation: landscape) {
    body > div.warning-sign{display: none;}
}